.img {
    border-radius: 50%;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.bg{
    background-color: rgb(231, 49, 49);
  }
  
.head{
    color: darkcyan;
    text-align: center;
  }
  
.text{
    font-family: verdana;
    font-size: 20px;
  }